* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "poppins";
  background: #17a2b8;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert {
  padding: 15px 30px;
  background-color: white;
  color: #17a2b8;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
}
.hiden {
  display: none;
}
.open{
    display: block;
}
.box .result {
  display: flex;
  width: 150px;
  height: 150px;
  background: #17a2b8;
  border: 7px solid #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  margin: auto;
  margin-bottom: 60px;

}
.detail{
    display: flex;
}
.box .card {
  color: #000;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 20px;

}
.card p{
    font-size: 15px;
    text-align: center;
    padding: 10px;
    font-weight:700;
    
}
.card p:first-child{
   background-color: #7fcbd7; 
   color:#fff;
}
